extends layout

block content
  h1= title
  p Welcome to #{title}
  button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal") Show Video
  //video(id="really-cool-video", class="video-js vjs-default-skin", controls, preload="auto", width="640", height="264", data-setup='{}')
    source(src="http://192.168.0.8:8080/stream", type='video/mjpeg')
  div.modal.fade#myModal
    div.modal-dialog
      div.modal-content(style='width:640px;border:0px')
        div.modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true")
              &times;
          h4.modal-title  Video Player

        div.modal-body(style='padding:0px')
          img#video_player(alt="image")