body {
  background-color: #297373;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
}
html{
  background-color: #297373;
  padding-top: 75px;
  height:100%;
}
a {
  color: #00B7FF;
}
.panel-content{
  padding:10px;
  background-color: #297373;
}
.overlay{
  margin:0;
  z-index:100;
  width:100%;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  display: block;
  background-color: rgba(0,0,0, 0.8);
}

.connect{
  width: 200px;
  height: 125px;
  background-color: #E6E6E6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.gamepad{

  heigh: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

}
#show_controller {
  background-color: #ECA400;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#show_controller .controllerBtn {
  color: #E6E6E6;
  font-weight: bolder;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.5s;

}
.chevron{
  color: #E6E6E6;
}
#show_controller:hover .controllerBtn{
  max-height: 100px;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.delay_animation{
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  transition: bottom 0.5s;
}
#controller_input{
  position: absolute;
  height: 140px;
  width: 100%;
  background-color: ghostwhite;
  border-width: 2px;
}
.controller{
  height: 100%
}
.hide_input{
  bottom: -140px;
}
.show_input{
  bottom: 0px;
}
.panel{
  background-color: #297373;
  height:100%;
}
.gamepad-text{
  font-size: large;
}
.content{
  padding:10px;
  text-align: center;
  height:100%;
}

footer{
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.axes{
  display: table;
  width: 100%
}
.axes span{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.axes div{
  position: absolute;
  bottom: 0;

}
.vertical-axis{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

progress{
  width: 100px;
}
.header{
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:10px;
  color: #003459;
  font-size: x-large;
  vertical-align: middle;
  background-color: white;
}
.header i{
  font-size: x-large;
}
.header i:hover{
  color: #ECA400;
  cursor: pointer;
}
#video img{
  max-width: 100%;
  display:block;
  height: 100%;!important;
  margin-left:auto;
  margin-right:auto;
}